.dhis2-map-tooltip {
    color: #333 !important;
    background-color: rgba(255, 255, 255, 0.9) !important;
    margin-left: 12px;
    padding: 2px 8px 2px 10px !important;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    font-size: 12px;
    line-height: 20px;
    border-radius: 4px;
}
